.createblog-container{
    background-color:#ffffff;
    height:600px;
    width:550px;
    border-radius:10px;
    margin:auto;
    margin-top:20px;
    display:flex;
    flex-direction:column;

}

.blog-items{
    display:flex;
    flex-direction:column;
    /* justify-content: center;
    align-items: center; */
    margin-top:20px;
    margin-left : 70px;
    /* margin-bottom:10px; */
}

#create-post{
    height: 30px;
    width: 100px;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    color: white;
    background-color: #4B56D2
}

.desfield{
    overflow-y: scroll;
        height: 100px;
        resize: none;
}

#title-container{
    margin-top: 40px;
}
.title{
    margin-top:30px;
}
.titlefield{
    
    height:30px;
    width:390px;
    border-radius:5px;
    border: 2px solid #ccc;
}
textarea{
    resize:none;
}
.descfield{
    height:200px;
    width:390px;
    border-radius:5px;
    border: 2px solid #ccc;

    /* overflow-y: scroll;
    scrollbar-width: thin; */
}