@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

.category-container{
    display:flex;
    flex-direction:column;
    /* margin-left:2%; */
    /* margin-top:1%; */
     align-items:center;
     justify-content:center; 
     width:20%;
     height: 20rem;
     border-radius: 2%;
     /* border: 2px solid grey; */
     background-color: rgb(82, 81, 83);
}

.category-options{
    padding:3%;
    background-color: rgb(120, 120, 120);
    border-radius: 5%;
    margin: 5px;
    width: 80%;
    color:#fff;
}



.blogheader-container{
    background-color:#1b262f;
    height: 10rem;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width:100%; */
    /* width:100%;
    height:12%; */
}
.saveicon{
    
}


.blogmiddle-container{
    display: flex;
    margin: 4%;
}

.bloginner-container{
    margin: 0 5%;
    background-color: #fff;
    width: 80%;
    background-color:#1b262f;
}

.imgClass{
    /* height: 10px; */
    width: 30%;
}

.each-blog{
    display: flex;
    /* flex-direction: column; */
    margin: 3%;
    /* background-color: rgb(205, 205, 205); */
    background-color:#1b262f;
    font-family: 'Poppins',sans-serif;
}

.blog-fields{
    display: flex;
    flex-direction: column;
    margin:2%;
    
}
#title-style{
    color:#16b58a;
    cursor: pointer;
}
.btn {
    border: none;
    background-color: inherit;
    /* padding: 14px 28px; */
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
  }
  .success
   {
    color:#fff;
}

#description-style{
    color:#fff;
    font-family: 'Poppins',sans-serif;
    line-height: 1.5;
    
    /* background-color: green; */
}
.likeicon{
    color:#4267B2;
}
.like-number{
    color:#fff;
}