/* .container{
    background-color: #fff;
}
.title-container{

    margin-left:10%;
    
}
.editTitle{
    font-size: xx-large;
    font-weight: bold;
}

.fields{
    border:none;
} */


.edit-title{
    border:none;
}
.edit-description{
    border:none;
}
.singlePost {
    width: 70%;
    background-color:#fefefe;
    margin: auto;

  }
  
  .singlePostWrapper {
    padding: 20px;
    padding-right: 0;
  }
  
  .singlePostImg {
    /* position:reltive; */
    margin-left:220px;;
    width: 50%;
    height: 400px;
    border-radius: 5px;
    object-fit: cover;
  }
  
  .singlePostTitle {
    text-align: center;
    margin: 10px;
    font-size: 28px;
    font-family: "Lora", sans-serif;
  }
  .singlePostCreatedAt{
    margin-left: 650px;
  }

  .singlePostDesc{
    margin: 20px;
  }
  .singlePostDescSpan textarea{
    width: 80%;
    margin: 10px;
    border:none;
    
  }
  .singlePostEdit {
    font-size: 16px;
  }
  
  .singlePostIcon {
    margin-left: 10px;
    cursor: pointer;
  }
  .desfield{
    overflow-y: scroll;
        height: 100px;
        resize: none;
}
  
  .singlePostIcon:first-child {
    color: teal;
  }
  .singlePostIcon:last-child {
    color: tomato;
  }
  
  .singlePostInfo {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #be9656;
    font-family: "Varela Round", Arial, Helvetica, sans-serif;
  }
  
  .singlePostAuthor{
    margin-left: 5px;
  }
  
  .singlePostDesc {
    color: #666;
    font-size: 18px;
    line-height: 25px;
  }
  
  .singlePostDesc::first-letter {
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
  }

  .singleposthandlers{
    margin: 50px;
    /* display: flex; */
  }

  .posthandler2{
    display: flex;
    /* justify-content: center; */
    align-items: center;
  }
  .likesavehandler{
    display: flex;
    margin-left: 10px;
    width: 50%;
    
  }
  .commenthandler2{
    margin-left: 50px;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }
  .likeicon{
    margin: 5px;
  }

  .saveicon{
    margin: 5px;
  }

  .addCommentBtn{
    margin: 10px;
    top:50%;
    background-color:#05054e;
    color: #fff;
    border:none; 
    border-radius:5px; 
    padding:10px;
  }

  .comment-container{
    border: 2px solid grey;
    background-color: black;
    margin: 20px;
  }

  .commentTitle{
    background-color:white;
    height: 40px;
    font-size:x-large;
  }

  .addCommentclass{
    margin:0 20px 0 20px;
    height: 20px;
    /* width: 100%; */
    display: flex;
    align-items: center;
  }
  .commenthandler3{
    width: 100%;
  }
  .commenthandler3 textarea{
    width: 70%;
  }
  .commentFinalhandler{
    /* width: 100%; */
    height: 30px;
    display: flex;
  }
  .each-comment{
    margin: 10px;
    /* border:1px solid red; */
    
    color: white;
  }